@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("../public/assets/andreas-fickl-o1xcUi-Yt_w-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
